#product-con:hover #product-btn {
  opacity: 1;
  background-color: #ffb5cf;
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
#product-con:hover #product-img {
  transform: scale(1.1) rotate(3deg);
  transition: all 0.3s ease-in-out;
}
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(-75%);
    }
    100% {
      transform: translateX(80%);
    }
  }

  .animate-marquee {
    display: inline-flex;
    animation: marquee 20s linear infinite; /* adjust speed */
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
