/* spin 1s linear infinite */

.social-link:hover .social-icon {
  animation: spin 0.5s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.Famory {
  font-family: "Fedrin Sambo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.8rem, 4vw, 3rem); /* auto-resizes with screen width */
  line-height: 1.2;
  color: #ffb5cf;
  border: none;
  transition: color 0.3s ease-in-out;
}

.res {

  font-size: clamp(1rem, 4vw, 3rem) !important; /* auto-resizes with screen width */
}
.Famory:hover {
  color: #ffffff; /* white hover for contrast */
}
