@import "tailwindcss";

@font-face {
  font-family: "Fedrin Sambo";
  font-style: normal;
  font-weight: normal;
  src: local("Fedrin Sambo"),
    url("./assets/FedrinSamboRegular-XGP4G.woff") format("woff");
}
@font-face {
  font-family: "Smooch Sans";
  font-style: normal;
  font-weight: 100 900;
  src: url("./assets/SmoochSans-VariableFont_wght.ttf") format("truetype");
}

a {
  text-decoration: none;
  border: none;
}
a:focus {
  outline: none;
}
a:focus-visible {
  outline: none;
}
body {
  font-family: "Smooch Sans", sans-serif !important ;
}
